<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/contact" method="get">
  <input type="text" name="pregunta" placeholder="Pregunta al Coach:">
  <input type="submit">
</form> 