<h1>Pregunta al Coah</h1>
<p>Has la pregunta que se te antoje, pero no hagas enojar al Coach</p>

<form action="/answer" method="get" class="pregunta">
  <input type="text" name="pregunta" value= "<%= params[:pregunta]%>"  placeholder="Pregunta al Coach:">
  <input type="submit">
</form> 

